a {
  color: slateblue;
}

a:hover {
  color: slateblue;
}

.text--purple {
  color: darkslateblue;
}

.bg-lilac {
  background-color: rgb(220, 200, 255);
}

.link--plain {
  text-decoration: none;
  color: #212529;
}

.link--plain:hover {
  color: #212529;
}

#badge-container:first-child {
  margin-left: 0;
}

#badge-container:last-child {
  margin-right: 0;
}
