body {
  font-family: "Roboto", sans-serif;
}

a {
  color: slateblue;
}

a:hover {
  color: slateblue;
}

.text--purple {
  color: darkslateblue;
}

.bg-light-lilac {
  background-color: rgb(230, 220, 255);
}

.bg-lilac {
  background-color: rgb(220, 200, 255);
}

#badge-container {
  font-family: "Source Code Pro", monospace;
}

#badge-container:first-child {
  margin-left: 0;
}

#badge-container:last-child {
  margin-right: 0;
}

.card-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: box-shadow 0.3s linear;
}

.card-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s linear;
}

.space--expand {
  max-height: 80px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.space--hide {
  max-height: 0px;
  transition: max-height 0.5s ease-out;
}
