@keyframes show {
  0% { max-height: 0px; }
  100% { max-height: 2000px; }
}

@keyframes hide {
  0% { max-height: 2000px; }
  100% { max-height: 0px; }
}

.projects-container--show {
  padding-bottom: 1em;
  overflow: hidden;
  max-height: 2000px;
  animation: show 1s;
}

.projects-container--hide {
  max-height: 0px;
  animation: hide 1s;
}

.project__card {
  height: fit-content;
  overflow: hidden;
}

.badge__stack {
  background-color: #2676b7;
  font-family: "Source Code Pro", monospace;
}

@media (width < 992px){
  @keyframes show {
    0% { max-height: 0px; }
    100% { max-height: 4000px; }
  }

  @keyframes hide {
    0% { max-height: 4000px; }
    100% { max-height: 0px; }
  }

  .projects-container--show {
    overflow: hidden;
    max-height: 4000px;
    animation: show 2s;
  }

  .projects-container--hide {
    max-height: 0px;
    animation: hide 2s;
  }
}
